version: "3"
services:
  garage:
    image: dxflrs/garage:v2.0.0
    ports:
      - 3900:3900
      - 3901:3901
      - 3902:3902
      - 3903:3903
    restart: unless-stopped
    volumes:
      - /srv/docker/garage/garage.toml:/etc/garage.toml
      - /srv/docker/garage/meta:/var/lib/garage/meta
      - /srv/docker/garage/data:/var/lib/garage/data
